<h1>Editando usuario</h1>

<%= render "form", paciente: @paciente %>

<br>

<div>
  <%#= link_to "Show this paciente", @paciente %>
  <%= link_to "Volver a usuarios", pacientes_path, class: "btn btn-secondary" %>
</div>
