<p style="color: green"><%= notice %></p>

<%= render @paciente %>

<div>
  <%= link_to "Editar", edit_paciente_path(@paciente), class: "btn btn-primary" %>
  <%= link_to "Volver a pacientes", pacientes_path, class: "btn btn-secondary" %>


</div>
