

<%= render @bitacora %>

<div>
  <%= link_to "Editar", edit_bitacora_path(@bitacora), class: "btn btn-primary" %>
  <%= link_to "Volver a bitacora", bitacoras_path, class: "btn btn-secondary" %>
   <%= link_to "Volver a Rev. Bitacoras", bit_bitacoras_path, class: "btn btn-secondary" %>


</div>


