

<%= render @bitacora %>

<div>
  <%= link_to "Editar", edit_bitacora_path(@bitacora), class: "btn btn-primary" %>
  <%= link_to "Volver a bitacoras", bitacoras_path, class: "btn btn-secondary" %>


</div>


